.vscode/*
AudioData/AudioDataSamples/*
AudioData/AudioData.wav
.DS*
lab/test_sascha/classification_cnn/saved_models/*
modules/Challenge_3/training_data/2sec_burble_wrong_match.csv
modules/Challenge_3/Samples_CSV/*
modules/Challenge_3/Samples_WAV/*
